/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Page */
.site {
    display: flex;
}

/* Front page */

/* Dashboard */
body.page-template-dashboard {

    .site-content,
    .content-area,
    .site-main {
        height: 100vh;
    }

    .site-content {
        width: 75%;
    }

    header.dashboard-header {
        @include container(true);
        flex-flow: column nowrap;
        height: 15%;
        background: url("../../images/dots_final.png") repeat center;
        background-size: cover;
        text-align: center;
        position: relative;

        .dashboard-day {
            margin: 1.25rem 0 0 0;
            font-size: 1.25rem;
        }

        .dashboard-circle {
            @extend .day-circle;
        }
    }

    section.main-content {
        @include container(true);
        width: 80%;
        margin: 100px auto 0;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        h1 {
            margin-bottom: 0;
            font-family: $font__header;
            font-size: 3rem;
            font-weight: bold;
        }

        h2 { 
            font-weight: lighter;
        }

        .dashboard-icons {
            @include container(true);
            justify-content: space-between;
            margin-top: 5rem;
            flex-wrap: wrap;
            align-items: center;

            .dashboard-icon-block {
                text-align: center;
                width: 33%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.5rem;

                .dashboard-icon-wrapper {
                    width: 180px;
                    height: 180px;
                    background: url("../../images/grid-button.png");
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    img {
                        height: 70px;
                        width: 70px;
                    }
                }

                a {
                    color: #000;
                }
            }

            .dashboard-icon-block:last-child {
                .dashboard-icon-wrapper{
                    &:last-child {
                        img {
                            height: 54px;
                            width: 75px;
                        }
                    }
                }
            }
        }
    }

    section.bottom-extension {
        .bottom-ext-side {
            width: 25%;
            background: $color__main-blue;
            height: 5rem;
        }
    }

    /* OVERLAY */
    section.dashboard-feedback-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .db-overlay-body {
            width: 90%;
            height: 80%;
            background: $color__main-blue;
            display: flex;
            justify-content: center;
            align-items: center;

            .db-overlay-inner-body {
                width: 90%;
                height: 80%;
                background: #fff;
                display: flex;
                justify-content: center;
                flex-flow: column nowrap;
                align-items: center;
                position: relative;

                h1 {
                    font-family: $font__header;
                }

                .db-overlay-back-arrow {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 0;
                    top: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Brief */
body.page-template-brief {
    background: $color__main-blue;
    width: 100%;
    height: 100%;

    .site-content,
    .content-area,
    .site-main {
        width: 100%;
        height: 100vh;
    }

    .site-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.brief-main-content {
        width: 80%;
        height: 80%;
        background: #fff;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;

        .brief-day-circle {
            @extend .day-circle;
            top: 0;
        }

        h1 {
            margin: 5rem 0 0;
            font-family: $font__header;
            font-weight: bold;
            font-size: 3rem;
        }

        h2 {
            font-weight: lighter;
            margin: 1.5rem 9rem;
        }

        .brief-info-container {
            @include container(true);
            justify-content: space-around;
            padding: 0 3rem;
            text-align: left;

            .brief-list-title {
                margin-bottom: 0.5rem;
            }

            .brief-info-title {
                font-size: 1.5rem;
                font-weight: lighter;
                font-family: $font__header;
            }

            ul {
                margin: 0;
                list-style: none;
                padding: 0;
                
                li {
                    font-weight: lighter;
                }
                
                li:before {
                    content: "• ";
                    color: $color__main-yellow; 
                    margin-right: 0.75rem;
                  }
            }
        }

        .brief-back-arrow {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 0;
            top: 50%;
        }
    }
}

/* Feedback */
body.page-template-feedback {

    .site {
        height: auto;
    }

    .site-content,
    .content-area,
    .site-main {
        width: 100%;
        height: 100%;
    }

    header.feedback-header {
        @include container(true);
        background: $color__main-blue;
        height: 15%;
        padding: 1.5rem 10%;

        p {
            color: #fff;
            margin: 0;
        }

        .feedback-brief {
            font-size: 1.5rem;
            font-weight: bolder;
            margin-right: 3.5rem;
            font-family: $font__header;
        }

        .feedback-brief-description {
            font-weight: lighter;
            margin-top: 0.5%;
        }
    }

    section.feedback-main-content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        .feedback-work-area {
            @include container(true);
            background: url("../../images/dots_final.png") repeat center;
            height: 50vh;
            justify-content: center;
            align-items: center;

            img {
                height: 75%;
                width: auto;
            }
        }

        .feedback-wrapper {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;

            p.feedback-description {
                margin: 3rem;
                font-weight: lighter;
                font-size: 2rem;
            }

            h2.feedback-category {
                margin: 0 0 2rem 0;
                font-family: $font__header;
                font-weight: bold;
                font-size: 2.5rem;
            }

            img {
                margin-bottom: 3rem;
            }

            .cta-button {
                margin-top: 4rem;
            }
        }

        .feedback-textarea-container {
            position: relative;
            width: 80%;
            min-height: 40%;

            .feedback-textarea {
                width: 100%;
                min-height: 350px;
                border: 1px solid #000;
            }
            .feedback-textarea:last-child {
                width: 100%;
                min-height: 350px;
                border: 1px solid #000;
                position: absolute;
                top: 1.5rem;
                left: 1rem;
                padding: 2rem 3rem 3.5rem 2rem;

                .feedback-text {
                    font-weight: lighter;
                    font-style: italic;
                }
            }
        }
    }
}